<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Location</th>
        <th scope="col">Type</th>
        <th scope="col">Reported</th>
        <th scope="col">Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Peabody Hall</td>
        <td>Elevator Right</td>
        <td>10:00 AM 2/14/2022</td>
        <td>30</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dey Hall</td>
        <td>Automatic Door</td>
        <td>11:00 AM 2/13/2022</td>
        <td>25</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lenior</td>
        <td>Escalator</td>
        <td>2:00 PM 2/17/2022</td>
        <td>19</td>
      </tr>
    </tbody>
  </table>
