<div class="container mt-3">
    <form #report="ngForm" (ngSubmit)="submitReport(report.value)">
        <div class="form-outline mb-4">
            <input type="text" id="firstNameBox" class="form-control" name="firstName" ngModel>
            <label class="form-label" for="firstNameBox">First Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="lastNameBox" class="form-control" name="lastName" ngModel>
            <label class="form-label" for="lastNameBox">last Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="email" id="emailBox" class="form-control" name="email" ngModel>
            <label class="form-label" for="emailBox">Email address</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="passwordBox" class="form-control" name="password" ngModel>
            <label class="form-label" for="passwordBox">Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100">Register</button>
    </form>
</div>
