@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Roboto:wght@300&display=swap');
#notification {
    background-color: #D4D3D3;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
}

.dateBox {
    background-color: black;
    color: white;
    border-radius: 5px;
}

h4 {
    font-weight: bolder;
}

svg {
    fill: white;
    transform: scale(1.2);
    margin-right: 5px;
    margin-bottom: 5px;
}

.bi-arrow-up-short, .bi-arrow-down-short {
    fill: black;
    transform: scale(2.3);
    margin-left: 5px;
}

.arrowContainer {
    margin-top:5px;
}