<div class="container">
    <h1>First Name:</h1>
    <h1>Last Name:</h1>
    <h1>Email:</h1>
    <h1>Password: ********</h1>
    <h1>My Locations:</h1>
    <div class="row">
        <div class="container">
            <button id="LogoutBtn" type="button" class="w-80 btn btn-secondary btn-md btn-block"
            (click)="logOut()">Log Out</button>
        </div>
        <div class="container mt-2">
            <button id="DeleteBtn" type="button" class="w-80 btn btn-secondary btn-md btn-block"
            (click)="deleteAccount()">Delete Account</button>
        </div>
    </div>
   
   
</div>
