<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Type</th>
      <th scope="col">Reported</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of Issues; let i = index">
      <td>{{i + 1}}</td>
      <td>{{issue.location}}</td>
      <td>{{issue.description}}</td>
      <td value="EEEE, MMMM d, yyyy h:mm a">{{issue.datetimeOpen | date:'EEEE, MMMM d, yyyy h:mm a'}}</td>
      <td>{{issue.votes}}</td>
      <td><button class="btn btn-primary" (click)="upvote(issue._id)">Up</button></td>
      <td><button class="btn btn-secondary" (click)="downvote(issue._id)">Down</button></td>
    </tr>
  </tbody>
</table>