<h1>About</h1>
<p>Polaris is an open-source website and framework for universities and organizations to develop campus maps that crowdsource data on accessible routes and potential obstacles.</p>
<h2>History</h2>
<p>The idea for this project came from the difficulties experienced by one of the project creators (a wheelchair user) and others with limited mobility while navigating their large university campus.</p>
<p>Its initial implementation was done by members of Team Polaris of UNC-CH (alphabetically listed here by last name):</p>
<ul>
    <li>Elaine Dong</li>
    <li>Christine Mendoza</li>
    <li>Joe Spencer</li>
    <li>Robert Susewell</li>
    <li>Mia Ziade</li>
</ul>
<p>Its name, Polaris, comes from the North Star (the main star used for navigation)!</p>
<h2>Contribute</h2>
<p>This project is still in progress. There are many ways you can contribute!</p>
<ul>
    <li>Submit comments or suggestions through <a href="https://forms.gle/cu1J7Dh3AeYR5ytL6">this form</a>.</li>
    <li>Contribute to the <a href="https://github.com/comp426-2022-spring/a99-polaris">source code</a>.</li>
</ul>